@import '../../styles/common.scss';

.periodDropdown {
    width: 146px;
    background-color: white;
    // box-shadow: 0 4px 4px #00000040;
    list-style: none;
    z-index: 30;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius:15px;
    border:1px solid #dddddd;
    // border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px;
    padding: 7px 21px 22px;

    li {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;

        color: #4E4E4E;
        @include notosans(14px, 700);

        padding: 15.5px 0;
        border-bottom: 1px solid #D8D8D8;
    }

    li:last-child {
        border-bottom: 0;
        padding-bottom:0;
    }
}

