@import './common.scss';

.findPassword {
    @include loginArea;

    .input{
        @include inputStyle(#808080, #C1C1C1);
    }
    .input-red {
        @include inputStyle($redColor, $redColor);
    }

    button[type="submit"] {
        @include buttonStyle(100%,  60px);
    }

    .text-error {
        display: block;
        margin: 14px 0;
        color: $redColor;
        @include notosans(14px, 400);
    }

    .bottom-area {
        gap: 69px;

        span {
            color: #C1C1C1;
            @include notosans(16px, 400);
        }

        button {
            border: none;
            border-bottom: 1px solid #4E4E4E;
            background-color: white;
            @include notosans(16px, 700);
        }
    }

    .inputEmail {
        .explain {
            h2 {
                margin-top: 91px;
            }
            p {
                margin-bottom: 126px;
            }
        }

        button[type="submit"] {
            margin-top: 34px ;
        }
    }

    .resetPassword {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 200px;
            height: 168px;
            margin: 134px 0 70px;
        }

        .explain {
            h2, p{
                margin: 0 -20px;
                text-align: center;
            }
    
            p {
                margin-top: 5px;
            }
        }

        button[type="submit"] {
            margin-top: 35px ;
        }
    }
}

@media screen and (max-width: 1800px) {
    .findPassword{
        margin-top:-340px;
        height: 550px;
        .inputEmail {
            .explain {
                h2 {
                    margin-top: 31px;
                }
                p {
                    margin-bottom: 26px;
                }
            }
    
            button[type="submit"] {
                margin-top: 24px ;
            }
        }

        .resetPassword {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            img {
                width: 200px;
                height: 168px;
                margin: 34px 0 20px;
            }
    
            .explain {
                h2, p{
                    margin: 0 -20px;
                    text-align: center;
                }
        
                p {
                    margin-top: 5px;
                }
            }
    
            button[type="submit"] {
                margin-top: 15px ;
            }
        }
    }
}