@import './common.scss';

.swal2-popup {
    @include notosans(13px, 700);
    white-space: pre-wrap;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 13px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}