.md-typeset__table {
    min-width: 100%;
}
.md-typeset table:not([class]) {
    display: table;
}
table thead th {
    color: #1b3453;
    background: #e0ecfa;
}

.md-nav__item .md-nav__link--active {
    color: #ffffff !important;
    background: #4c52bc;
    padding: .2rem;
    border-radius: 4px;
}

p {
    font-size: 15px;
}

.md-nav__list {
    color: #797979;
}
.md-tabs__link--active {
    font-weight: bold;
}
.md-nav__title {
    color: #5d5d63;
}
.md-nav__item--section>.md-nav__link[for], .md-nav--lifted>.md-nav__list>.md-nav__item>[for]{
    color: #333333;
}
.md-tabs__item:has(.md-tabs__link--active) {
    border-bottom: 0.15rem solid;
}

.md-nav--secondary .md-nav__link--active {
    background: white;
    color: #4c52bc;
    font-weight: bold;
}
