@import '../../../styles/common.scss';

.aasicInfo1 {
    flex:1 1;
    height:100%;
    background-color:#ffffff;
    border-radius: 0 0 15px 0;
    padding:10px 10px;


    .serviceInfo {
        background-color:#f2f2f2;
        padding: 20px;
        border-radius:10px;
        display: flex;
        flex-wrap: wrap;
        // .item {
        //     flex: 1 1 40%;
        // }
        ul {            
            flex-grow: 1 ; 
            padding:0;

            li {
              overflow:hidden;
                font-size:12px;
                div {float:left;margin:5px 0;}
                display:flex;
                flex-direction: row;
                .basicTtl {width:8em;font-weight:700; display: inline-block;}
                .basicCnt {flex:1; display: inline-block;
                    
                }
            }
        }

        .appIdentifier {
            flex-grow: 1; 
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            p:first-child {
                font-size:12px;
                font-weight:700;
                width:20%;
            }
            p:last-child {
                font-size:12px;
                width:70%;
                span {
                    display:block;
                    margin-bottom:3px;
                }
            }

        }
    }   

    .deviceInfo {

        ul{
            padding: 0 ;
            background-color:#ffffff;
            li {
                
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                font-size: 12px;
                flex: 1 100%;
                padding:12px 15px;
                border-bottom:1px solid #e6e6e6;
                .key {font-weight:700;width:80px;}
                .value {color:#525252;flex:1;}
                .maxSpace {
                    display: inline-block;
                    margin-top: 10px;
                    width: 70%;
                    height: 12px;
                    background-color: #e8e8e8;
                    border-radius: 30px;
                }
                .usedSpace {
                    display:inline-block;
                    width: 0px;
                    height: 12px;
                    border-radius: 30px;
                }
            }
        }
    }

}