@import '../../styles/common.scss';

.eventChart {
    //width: 1000px;
    width: 90%;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    z-index: 12;
    
    .apexChart {
        z-index: 12;
    }
}