@import '../../styles/common.scss';

.container {
    width: 100%;
    height: fit-content;
    overflow: visible;
  
    .eventTooltip {
        display: none;
        position: absolute;
        z-index: 100;

        width: auto !important;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .detail {
            padding: 24px 30px;
            border-radius: 30px;
            width: 600px;
            height: 800px;
            background-color: #95B3E8;

            p {
                color: white;
                @include notosans(24px, 700);
                margin-bottom: 38px;
            }

            .summary {
                text-align: start;
                color: #4E4E4E;
                @include notosans(14px, 400);
                margin-bottom: 17px;

                .info {
                    padding: 20px;
                }

                .infoTitle {
                    @include notosans(16px, 700);
                }
            }

            .eventName {
                width: 540px;
                height: 480px;
                background-color: #FFFFFF;
                white-space: pre-wrap;
                word-break: break-all;
                overflow: auto;
                text-align: start;
                padding: 20px;

                color: #4E4E4E;
                @include notosans(14px, 400);
            }
        }
        
    }

    &:hover .eventTooltip,
    &:active .eventTooltip {
        display: block;
    }
}