@import '../../styles/common.scss';

.dataform {
    margin-top:10px;
    margin-left: 3em;
    h5 {
        display: inline-block;
        // border-top-left-radius: 15px;
        // border-top-right-radius: 15px;
        // background-color: #4770bb;
        color: #444444;
        @include notosans(20px, 700);
        padding: 10px 0;
    }

    .content {
        width: 1500px;
        // height: 222px;
    }
}

@media screen and (min-width: 1800px) {

}
@media screen and (max-width: 1800px) {
    // .dataform {
    //     .content {
            
    //     }
    // }
}
@media screen and (max-width: 1300px) {
    
}